<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2022.  Bambora ( https://bambora.com/ )
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in
  ~ all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  ~ THE SOFTWARE.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <!-- Test apps -->
        <package android:name="dk.danskebank.mobilepay.vendor.sprint" />
        <package android:name="no.dnb.vipps.mt" />
        <package android:name="se.bankgirot.swish.sandbox" />
        <!-- Production apps -->
        <package android:name="dk.danskebank.mobilepay" />
        <package android:name="no.dnb.vipps" />
        <package android:name="se.bankgirot.swish" />
    </queries>

    <application>
        <activity
            android:name="com.bambora.android.java.checkoutsdk.BamboraCheckoutActivity"
            android:exported="true"
            android:theme="@style/Theme.Bambora.Checkout"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
        </activity>
    </application>

</manifest>